body{
  font-family: sans-serif;
  background-color: gray;
  font-size: 30px;
}

header{
    background-color: #737272;
    text-align: center;
    color: #47753c;
    padding: 15px;
}

nav{
    margin-top: 50px;
}
h2{
    color: #a9de9b;
    text-align: center;
    background-color: #2da60f;
    border-radius: 15px;
}

a{
    background-color: #a384d9;
    color: #7a6899;
    padding: 5px;
}

main{
    padding: 50px;
}

p{
    text-align: center;
}

footer{
    padding: 20px;
    text-align: center;
    background-color:  #737272;
}
